<h1>PAPER MINT</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>

<section id="todo_post">
  <div class="row">
    <div class="span6">
      <a href="#" class="thumbnail">
        <img src="http://placehold.it/260x100" alt>
      </a>
    </div>
    <div class="span6">
      <%= render 'shared/task_form' %>
    </div>
  </div>
</section>

<section id="todos">
  <div class="row">
    <div class="span3 pri1">
      <ul class="the-todos">
        <li>
          <a href="#" class="thumbnail">
            <%= image_tag("task_01.png") %>
          </a>
        </li>
        <li>
          <a href="#" class="thumbnail">
            <img src="http://placehold.it/260x100" alt>
          </a>
        </li>
        <li>
          <a href="#" class="thumbnail">
            <img src="http://placehold.it/260x100" alt>
          </a>
        </li>
        <li>
          <a href="#" class="thumbnail">
            <img src="http://placehold.it/260x100" alt>
          </a>
        </li>
      </ul>
    </div>
    <div class="span3 pri2">
      <ul class="the-todos">
        <li>
          <a href="#" class="thumbnail">
            <img src="http://placehold.it/260x100" alt>
          </a>
        </li>
        <li>
          <a href="#" class="thumbnail">
            <img src="http://placehold.it/260x100" alt>
          </a>
        </li>
        <li>
          <a href="#" class="thumbnail">
            <img src="http://placehold.it/260x100" alt>
          </a>
        </li>
      </ul>
    </div>
    <div class="span3 pri3">
      <ul class="the-todos">
        <li>
          <a href="#" class="thumbnail">
            <img src="http://placehold.it/260x100" alt>
          </a>
        </li>
        <li>
          <a href="#" class="thumbnail">
            <img src="http://placehold.it/260x100" alt>
          </a>
        </li>
        <li>
          <a href="#" class="thumbnail">
            <img src="http://placehold.it/260x100" alt>
          </a>
        </li>
      </ul>
    </div>
    <div class="span3 pri4">
      <ul class="the-todos">
        <li>
          <a href="#" class="thumbnail">
            <img src="http://placehold.it/260x100" alt>
          </a>
        </li>
        <li>
          <a href="#" class="thumbnail">
            <img src="http://placehold.it/260x100" alt>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
