<li id="<%= feed_item.id %>" class="todo-pri<%= feed_item.priority %> todo">
  <div class="content">
    <p><%= wrap feed_item.content %></p>
    <% if !feed_item.limit_date.nil? %>
      <div class="limit_date"><%= feed_item.limit_date.to_s(:jp) %></div>
    <% end %>
  </div>
</li>
