@import "bootstrap";

html {
  overflow-y: scroll;
}

.well {
  padding: 27px 19px 0 19px;
}

/*body {
  padding-top: 60px;
}*/

/*section {
 overflow: auto;
}*/

.container {
  padding-top: 120px;
}

/*#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7e,;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}*/

.pri1 {
  /*background-color: #cd2c24;*/
}

.pri2 {
  /*background-color: #f2594b;*/
}

.pri3 {
  /*background-color: #f2836b;*/
}

.pri4 {
  /*background-color: #f2e1ac;*/
}

.pri-sel {
  border: 1px solid #72E5E5;
  width: 54px;
  height: 30px;
  display: inline-block;
}

.pri-sel-hightlight {
  border: 2px solid #72E5E5;
  width: 54px;
  height: 30px;
  display: inline-block;
}

.pri1-color {
  background-color: #f0ffff !important;
}

.pri2-color {
  background-color: #d4ffd4 !important;
}

.pri3-color {
  background-color: #c2fffa !important;
}

.pri4-color {
  background-color: #91f0eb !important;
}

.the-todos {
  margin: 0;
  padding: 0;
  list-style: none;
}

.the-todos > li {
  margin-left: 0;
  margin-bottom: 5px;
  width: 225px;
  height: 65px;
}

#todo-prev {
  background-image: url("/assets/task_clear.png");
  background-repeat: no-repeat;
  width: 225px;
  height: 65px;
  /*padding: 3px 18px;*/
  /*margin: 0 auto;*/
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 0 15px 0 15px;
}

#todo-prev p {
  display: inline-block;
  text-align: left;
  padding-right: 25px;
  color: #444444;
}

.content {
  width: 225px;
  height: 65px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 0 15px 0 15px;
}
.content > p {
  display: inline-block;
  text-align: left;
  margin: 0;
  padding: 0;
  color: #444444;
}

.limit_date {
  color: #909090;
}

.btn-group {
  padding-top: 10px;
}

.todo-pri4 {
  background-image: url("/assets/task_04.png");
  background-repeat: no-repeat;
}

.todo-pri3 {
  background-image: url("/assets/task_03.png");
  background-repeat: no-repeat;
}

.todo-pri2 {
  background-image: url("/assets/task_02.png");
  background-repeat: no-repeat;
}

.todo-pri1 {
  background-image: url("/assets/task_01.png");
  background-repeat: no-repeat;
}

.thumb_nail {
  display: block;
  margin:55px 0px 0px 155px;
  border:none;
}

#submit3 {
 position:relative;
  top:-60px;
  left:260px;
  border: 0px;
}

.input-append {
 margin:0px -5px;
}

input[type="text"],
textarea {
  width: 16em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.task_form_bg {
  width:350px;
  margin:5px 0px;
}
