@import "bootstrap";

html {
  overflow-y: scroll;
}

/*body {
  padding-top: 60px;
}*/

/*section {
 overflow: auto;
}*/

.container {
  padding-top: 120px;
}

/*#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7e,;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}*/

.pri1 {
  /*background-color: #cd2c24;*/
}

.pri2 {
  /*background-color: #f2594b;*/
}

.pri3 {
  /*background-color: #f2836b;*/
}

.pri4 {
  /*background-color: #f2e1ac;*/
}

.the-todos {
  margin: 0;
  padding: 0;
  list-style: none;
}

.the-todos > li {
  margin-left: 0;
  margin-bottom: 5px;
  width: 225px;
  height: 65px;
}

#todo-prev {
  background-image: url("/assets/task_clear.png");
  background-repeat: no-repeat;
  width: 225px;
  height: 65px;
  /*padding: 3px 18px;*/
  /*margin: 0 auto;*/
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 0 15px 0 15px;
}

#todo-prev p {
  display: inline-block;
  text-align: left;
}

.content {
  width: 225px;
  height: 65px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 0 15px 0 15px;
}
.content > p {
  display: inline-block;
  text-align: left;
}

.todo-pri4 {
  background-image: url("/assets/task_04.png");
  background-repeat: no-repeat;
}

.todo-pri3 {
  background-image: url("/assets/task_03.png");
  background-repeat: no-repeat;
}

.todo-pri2 {
  background-image: url("/assets/task_02.png");
  background-repeat: no-repeat;
}

.todo-pri1 {
  background-image: url("/assets/task_01.png");
  background-repeat: no-repeat;
}
