@import "bootstrap";

html {
  overflow-y: scroll;
}

.wall {
  padding: 28px 19px 0 24px;
  margin: 10px 0px 0px 20px;
  background-image:url(/assets/taskform_bg_02.gif);
  width:400px;
  height:165px;
  background-repeat:no-repeat;
}

.pri-sel {
  border: 2px solid #72E5E5;
  width: 52px;
  height: 30px;
  display: inline-block;
}

.pri-sel-hightlight {
  border: 2px solid #66bbcc;
  width: 52px;
  height: 30px;
  display: inline-block;
}

.pri1-color {
  background-color: #f0ffff !important;
}

.pri2-color {
  background-color: #d4ffd4 !important;
}

.pri3-color {
  background-color: #c2fffa !important;
}

.pri4-color {
  background-color: #91f0eb !important;
}

.the-todos {
  margin: 0;
  padding: 0;
  list-style: none;
}

.the-todos > li {
  margin-left: 0;
  margin-bottom: 5px;
  width: 225px;
  height: 65px;
}

#todo-prev {
  background-image: url("/assets/task_clear.png");
  background-repeat: no-repeat;
  width: 225px;
  height: 65px;
  /*padding: 3px 18px;*/
  /*margin: 0 auto;*/
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 0 15px 0 15px;
}

#todo-prev p {
  display: inline-block;
  text-align: left;
  padding-right: 25px;
  color: #444444;
}

.content {
  width: 225px;
  height: 65px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 0 15px 0 15px;
}
.content > p {
  display: inline-block;
  text-align: left;
  margin: 0;
  padding: 0;
  color: #444444;
}

.limit_date {
  color: #909090;
}

.btn-group {
  padding-top: 10px;
}

.todo-pri4 {
  background-image: url("/assets/task_04.png");
  background-repeat: no-repeat;
}

.todo-pri3 {
  background-image: url("/assets/task_03.png");
  background-repeat: no-repeat;
}

.todo-pri2 {
  background-image: url("/assets/task_02.png");
  background-repeat: no-repeat;
}

.todo-pri1 {
  background-image: url("/assets/task_01.png");
  background-repeat: no-repeat;
}

.thumb_nail {
  display: block;
  margin:50px 0px 0px 65px;
  border:none;
}

.span7 {
  background-image:url(/assets/taskform_bg.gif);
  width:400px;
  height:165px;
  background-repeat:no-repeat;
  margin:28px 0px 0px 90px;
}


#submit3 {
 position:relative;
  top:-72px;
  left:255px;
  border: 0px;
}

.input-append {
 margin:0px -5px;
}

input[type="text"],
textarea {
  width: 16em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.span6{
  width: 460px;
  height: 260px;
}

#comment2 img{
 float: right;
 margin:-42px 5px 0px 0px;
}

#now{
 float: right;
 margin:-35px 190px 0px 0px;
 color:#708090;
}

.navbar-fixed-top {
  position: static;
}
